<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <style>
        h1 {
            font-size: 36px;
            color: #0366d6; 
            font-weight: bold;
            margin-bottom: 20px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            font-size: 18px;
            color: #24292e; 
            margin-bottom: 10px;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container mt-4">
        <h1>List of Persons</h1>
        <ul>
            {% for person in people %}
            <li>{{ person }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>